<div class="ui small inverted menu ">
  <div class="ui container">
    <%= link_to 'Chatroom', root_path , class: "red #{active_page?(root_path)} item" %>
    <a class="red item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Compte <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Se déconnecter</a>
          <%= link_to 'Se connecter', login_path, class: "item" %>
          <a class="item" href="#">S'inscrire</a>
        </div>
      </div>
      <div class="item">
          <div class="ui primary button">S'inscrire</div>
      </div>
    </div>
  </div>
</div>
